# TRANSFORMACIÓN DE DATOS

## IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

from sklearn.preprocessing import MinMaxScaler

## IMPORTAR LOS DATOS

1.- Ruta del proyecto.

In [2]:
ruta_proyecto = 'C:/Users/Alfonso/OneDrive/Documentos_/Formación/Bootcamp_DS/Repo_DS/Proyect_Break_ML/00_PROYECTO_ML'

2.- Nombrar los ficheros de datos.

In [3]:
nombre_cat = 'cat_resultado_eda.pickle'
nombre_num = 'num_resultado_eda.pickle'

3.- Cargar los datos.

In [4]:
cat = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_cat)
num = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_num)

4.- Separar la target.

In [5]:
target = num[['response']]

## TRANSFORMACIÓN DE CATEGÓRICAS

### One Hot Encoding

#### Variables a aplicar OHE

In [6]:
var_ohe = ['marital_status']

#### Instanciar

In [7]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

#### Entrenar y aplicar

In [8]:
cat_ohe = ohe.fit_transform(cat[var_ohe])

#### Guardar como dataframe

In [9]:
cat_ohe = pd.DataFrame(cat_ohe, columns = ohe.get_feature_names_out(), index=cat.index)

### Ordinal Encoding

#### Variables a aplicar OE

In [10]:
var_oe = ['education']

#### Orden de los valores de las variables

In [11]:
#Orden de la primera variable
orden_formacion = ['Basic', '2n Cycle', 'Graduation', 'Master', 'PhD']

#### Instanciar

In [12]:
oe = OrdinalEncoder(categories = [orden_formacion],
                    handle_unknown = 'use_encoded_value',
                    unknown_value = 10)

#### Entrenar y aplicar

In [13]:
cat_oe = oe.fit_transform(cat[var_oe])

#### Guardar como dataframe

In [14]:
#Añadir sufijos a los nombres
nombres_oe = [variable + '_oe' for variable in var_oe]

#Guardar como dataframe
cat_oe = pd.DataFrame(cat_oe, columns = nombres_oe,index=cat.index)

## UNIFICAR DATASETS TRANSFORMADOS

### Lista de los dataframes generados

In [39]:
dataframes = []
dataframes.extend(value for name, value in locals().items() if name.startswith('cat_') or name.startswith('num_'))
dataframes.append(num)

### Unir todos los dataframes

In [40]:
df = pd.concat(dataframes, axis = 1)

## REESCALAR VARIABLES

### Con Min-Max

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1481 entries, 1640 to 4297
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   marital_status_Divorced  1481 non-null   float64
 1   marital_status_Married   1481 non-null   float64
 2   marital_status_OTROS     1481 non-null   float64
 3   marital_status_Single    1481 non-null   float64
 4   marital_status_Together  1481 non-null   float64
 5   marital_status_Widow     1481 non-null   float64
 6   education_oe             1481 non-null   float64
 7   income                   1481 non-null   float64
 8   kidhome                  1481 non-null   int64
 9   teenhome                 1481 non-null   int64
 10  recency                  1481 non-null   int64
 11  mntwines                 1481 non-null   int64
 12  mntfruits                1481 non-null   int64
 13  mntmeatproducts          1481 non-null   int64
 14  mntfishproducts          1481 non-null   int64
 15  mntsweetproducts         1481 non-null   int64
 16  mntgoldprods             1481 non-null   int64
 17  numdealspurchases        1481 non-null   int64
 18  numwebpurchases          1481 non-null   int64
 19  numcatalogpurchases      1481 non-null   int64
 20  numstorepurchases        1481 non-null   int64
 21  numwebvisitsmonth        1481 non-null   int64
 22  acceptedcmp3             1481 non-null   int64
 23  acceptedcmp4             1481 non-null   int64
 24  acceptedcmp5             1481 non-null   int64
 25  acceptedcmp1             1481 non-null   int64
 26  acceptedcmp2             1481 non-null   int64
 27  complain                 1481 non-null   int64
 28  response                 1481 non-null   int64
 29  age                      1481 non-null   int64
 30  household_members        1481 non-null   int64
 31  total_amount             1481 non-null   int64
 32  total_purchase           1481 non-null   int64
 33  median_amount_purchase   1481 non-null   float64
 34  total_cmp                1481 non-null   int64
 35  total_%_cmp              1481 non-null   float64
dtypes: float64(10), int64(26)
memory usage: 428.1 KB

In [42]:
df.columns

Index(['marital_status_Divorced', 'marital_status_Married',
       'marital_status_OTROS', 'marital_status_Single',
       'marital_status_Together', 'marital_status_Widow', 'education_oe',
       'income', 'kidhome', 'teenhome', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth',
       'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1',
       'acceptedcmp2', 'complain', 'response', 'age', 'household_members',
       'total_amount', 'total_purchase', 'median_amount_purchase', 'total_cmp',
       'total_%_cmp'],
      dtype='object')

In [43]:
df

,marital_status_Divorced,marital_status_Married,marital_status_OTROS,marital_status_Single,marital_status_Together,marital_status_Widow,education_oe,income,kidhome,teenhome,...,acceptedcmp2,complain,response,age,household_members,total_amount,total_purchase,median_amount_purchase,total_cmp,total_%_cmp
ID,,,,,,,,,,,,,,,,,,,,,
1640,1.0,0.0,0.0,0.0,0.0,0.0,2.0,64587.0,1,1,...,0,0,0,61,3,108,8,13.500000,0,0.000000
977,0.0,0.0,0.0,0.0,1.0,0.0,2.0,47320.0,0,1,...,0,0,0,58,3,414,20,20.700000,0,0.000000
10150,0.0,0.0,0.0,1.0,0.0,0.0,2.0,86429.0,0,0,...,0,0,1,54,1,1449,18,80.500000,1,0.166667
8181,0.0,0.0,0.0,1.0,0.0,0.0,1.0,38593.0,1,0,...,0,0,0,37,2,177,11,16.090909,0,0.000000
1399,0.0,1.0,0.0,0.0,0.0,0.0,2.0,72905.0,0,0,...,0,0,0,57,2,1515,20,75.750000,1,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7999,0.0,0.0,0.0,0.0,1.0,0.0,4.0,75261.0,0,0,...,0,0,1,60,2,1743,17,102.529412,2,0.333333
4548,0.0,0.0,0.0,1.0,0.0,0.0,2.0,41967.0,1,1,...,0,0,0,34,3,54,5,10.800000,0,0.000000
10785,0.0,1.0,0.0,0.0,0.0,0.0,2.0,44078.0,1,1,...,0,0,0,46,4,41,7,5.857143,0,0.000000
3412,0.0,1.0,0.0,0.0,0.0,0.0,3.0,67381.0,0,1,...,0,0,0,64,3,957,17,56.294118,1,0.166667
4297,0.0,0.0,0.0,0.0,1.0,0.0,2.0,23228.0,1,0,...,0,0,0,46,3,40,7,5.714286,0,0.000000

#### Variables a reescalar con Min-Max

In [44]:
var_mms = df[['education_oe',
       'income', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'kidhome', 'teenhome','mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth',
       'age', 'household_members', 'total_amount', 'total_purchase', 'median_amount_purchase', 'total_cmp',
       'total_%_cmp']].columns

In [45]:
var_mms

Index(['education_oe', 'income', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'kidhome', 'teenhome', 'mntfishproducts',
       'mntsweetproducts', 'mntgoldprods', 'numdealspurchases',
       'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases',
       'numwebvisitsmonth', 'age', 'household_members', 'total_amount',
       'total_purchase', 'median_amount_purchase', 'total_cmp', 'total_%_cmp'],
      dtype='object')

#### Instanciar

In [46]:
mms = MinMaxScaler()

#### Entrenar y aplicar

In [47]:
df_mms = mms.fit_transform(df[var_mms])

#### Guardar como dataframe

In [48]:
#Añadir sufijos a los nombres
nombres_mms = [variable + '_mms' for variable in var_mms]

#Guardar como dataframe
df_mms = pd.DataFrame(df_mms,columns = nombres_mms,index=df.index)

## UNIFICAR DATASETS REESCALADOS

### Crear una lista con los dataframes a incluir en el tablón analítico

In [59]:
df = df.drop(columns=['education_oe', 'income', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'kidhome', 'teenhome', 'mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth', 'age',
       'household_members', 'total_amount', 'total_purchase',
       'median_amount_purchase', 'total_cmp', 'total_%_cmp'])

incluir = [df, df_mms]

### Unir todos los dataframes en el tablón analítico

In [60]:
df_tablon = pd.concat(incluir, axis = 1)

In [61]:
df_tablon.describe().T

,count,mean,std,min,25%,50%,75%,max
marital_status_Divorced,1481.0,0.101283,0.301805,0.0,0.000000,0.000000,0.000000,1.0
marital_status_Married,1481.0,0.392978,0.488577,0.0,0.000000,0.000000,1.000000,1.0
marital_status_OTROS,1481.0,0.004051,0.063542,0.0,0.000000,0.000000,0.000000,1.0
marital_status_Single,1481.0,0.211344,0.408400,0.0,0.000000,0.000000,0.000000,1.0
marital_status_Together,1481.0,0.258609,0.438018,0.0,0.000000,0.000000,1.000000,1.0
marital_status_Widow,1481.0,0.031735,0.175354,0.0,0.000000,0.000000,0.000000,1.0
acceptedcmp3,1481.0,0.072248,0.258986,0.0,0.000000,0.000000,0.000000,1.0
acceptedcmp4,1481.0,0.074274,0.262305,0.0,0.000000,0.000000,0.000000,1.0
acceptedcmp5,1481.0,0.079001,0.269831,0.0,0.000000,0.000000,0.000000,1.0
acceptedcmp1,1481.0,0.064821,0.246293,0.0,0.000000,0.000000,0.000000,1.0
acceptedcmp2,1481.0,0.012829,0.112575,0.0,0.000000,0.000000,0.000000,1.0
complain,1481.0,0.008778,0.093310,0.0,0.000000,0.000000,0.000000,1.0
response,1481.0,0.154625,0.361669,0.0,0.000000,0.000000,0.000000,1.0
education_oe_mms,1481.0,0.612762,0.251742,0.0,0.500000,0.500000,0.750000,1.0
income_mms,1481.0,0.428169,0.203421,0.0,0.266796,0.422739,0.582986,1.0
recency_mms,1481.0,0.488279,0.291881,0.0,0.232323,0.494949,0.737374,1.0
mntwines_mms,1481.0,0.214434,0.244025,0.0,0.015141,0.116799,0.354722,1.0
mntfruits_mms,1481.0,0.145847,0.220453,0.0,0.005556,0.044444,0.183333,1.0
mntmeatproducts_mms,1481.0,0.172191,0.233124,0.0,0.013499,0.064382,0.237799,1.0
kidhome_mms,1481.0,0.230587,0.269515,0.0,0.000000,0.000000,0.500000,1.0
teenhome_mms,1481.0,0.249831,0.272702,0.0,0.000000,0.000000,0.500000,1.0
mntfishproducts_mms,1481.0,0.154932,0.225402,0.0,0.012500,0.050000,0.204167,1.0
mntsweetproducts_mms,1481.0,0.140990,0.213225,0.0,0.005236,0.041885,0.178010,1.0
mntgoldprods_mms,1481.0,0.180108,0.211330,0.0,0.033058,0.103306,0.231405,1.0
numdealspurchases_mms,1481.0,0.177375,0.147158,0.0,0.076923,0.153846,0.230769,1.0
numwebpurchases_mms,1481.0,0.148873,0.103073,0.0,0.074074,0.111111,0.222222,1.0
numcatalogpurchases_mms,1481.0,0.240133,0.257765,0.0,0.000000,0.181818,0.363636,1.0
numstorepurchases_mms,1481.0,0.392640,0.270099,0.0,0.166667,0.333333,0.583333,1.0
numwebvisitsmonth_mms,1481.0,0.391136,0.212997,0.0,0.181818,0.454545,0.545455,1.0
age_mms,1481.0,0.508537,0.239525,0.0,0.326531,0.489796,0.714286,1.0
household_members_mms,1481.0,0.403106,0.223940,0.0,0.250000,0.500000,0.500000,1.0
total_amount_mms,1481.0,0.235883,0.240986,0.0,0.023819,0.144105,0.408098,1.0
total_purchase_mms,1481.0,0.402312,0.224867,0.0,0.176471,0.411765,0.588235,1.0
median_amount_purchase_mms,1481.0,0.031380,0.037604,0.0,0.008325,0.021254,0.042952,1.0
total_cmp_mms,1481.0,0.075793,0.171302,0.0,0.000000,0.000000,0.000000,1.0
total_%_cmp_mms,1481.0,0.075793,0.171302,0.0,0.000000,0.000000,0.000000,1.0

In [62]:
df_tablon.isna().sum()

marital_status_Divorced       0
marital_status_Married        0
marital_status_OTROS          0
marital_status_Single         0
marital_status_Together       0
marital_status_Widow          0
acceptedcmp3                  0
acceptedcmp4                  0
acceptedcmp5                  0
acceptedcmp1                  0
acceptedcmp2                  0
complain                      0
response                      0
education_oe_mms              0
income_mms                    0
recency_mms                   0
mntwines_mms                  0
mntfruits_mms                 0
mntmeatproducts_mms           0
kidhome_mms                   0
teenhome_mms                  0
mntfishproducts_mms           0
mntsweetproducts_mms          0
mntgoldprods_mms              0
numdealspurchases_mms         0
numwebpurchases_mms           0
numcatalogpurchases_mms       0
numstorepurchases_mms         0
numwebvisitsmonth_mms         0
age_mms                       0
household_members_mms         0
total_amount_mms              0
total_purchase_mms            0
median_amount_purchase_mms    0
total_cmp_mms                 0
total_%_cmp_mms               0
dtype: int64

## GUARDAR DATASET TRAS TRANSFORMACIÓN DE DATOS

En formato pickle para no perder las modificaciones de metadatos.

In [63]:
#Definir los nombres del archivo
ruta_df_tablon = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'df_tablon.pickle'
ruta_df_tablon_csv = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'df_tablon.csv'

In [65]:
#Guardar los archivos
df_tablon.to_pickle(ruta_df_tablon)
df_tablon.to_csv(ruta_df_tablon_csv)